* {
	margin: 0;
	padding: 0;
}

body { //
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial,
		sans-serif;
	font-family: 'Lobster', cursive;
	background-color: #000;
	color: white;
}

.container-centered {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.centered-box {
	position: absolute;
	margin: auto;
	top: -250px;
	left: 0;
	bottom: 0;
	right: 0;
	height: 200px;
	width: 200px;
	text-align: center;
}

li {
	list-style-type: none;
}

.big-40 {
	font-size: 40px;
}

.left-100 {
	margin-left: 100px;
}

.animated-number-fade-in {
	opacity: 0;
	font-size: 0px;
}

.animated-number-fade-in:hover {
	color: #FF4136;
	cursor: pointer;
}

.image-box {
	position: relative;
}

.float-left {
	float: left;
}

.hidden {
	opacity: 0;
}

.zoom-box {
	width: 1083px;
	height: 680px;
	overflow: hidden;
}

.zoom-image {
	position: absolute;
	top: 0;
	left: 0;
}

/* Modal Dialog */
.modal {
	display: block;
	background: #F77373;
	border: #ddd solid 1px;
	border-radius: 5px;
	margin-left: -200px;
	position: fixed;
	left: 50%;
	top: 30%;
	z-index: 10;
	width: 470px;
}

.modal-body {
	margin-left: 35%;
}

/* Cards */
.score-container {
	margin-top: 50px;
	margin-bottom: 25px;
}

.card-container {
	position: relative;
	width: 220px;
	height: 165px;
	float: left;
	margin-top: 35px;
	margin-left: 35px;
	z-index: 1;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 1.0s linear;
	-webkit-transition: all 1.0s linear;
}

.card-container-flipped {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.card {
	margin-right: 25px;
	margin-bottom: 25px;
}

.card img {
	cursor: pointer;
}

.face {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.face.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}