<div class="card-container">
	<p class="score-container">
		<span class="big-40">Points: {{score.points}}</span>
		<span class="big-40 left-100">Attempts: {{score.attempts}}</span>
	</p>

	<ul>
		<li id="{{card.id}}" class="card" ng-repeat="card in cards">
			<img src="{{card.imgDeck}}" class="animated-flip-left" ng-click="flipCard(card)" ng-show="card.deckVisible"/>
			<img src="{{card.img}}" ng-click="flipCard(card)" ng-hide="card.deckVisible" />
		</li>
	</ul>
	
	<div class="modal" ng-show="score.isGameSolved">
		<div class="modal-body">
			<span class="big-40">Solved</span>	
		</div>
	</div>
</div>