<div class="memory-container">
	<p class="score-container">
		<span class="big-40">Points: {{score.points}}</span> 
		<span class="big-40 left-100">Attempts: {{score.attempts}}</span>
	</p>

	<table>
    	<tr ng-repeat="row in grid">
      		<td ng-repeat="card in row" ng-click="flipCard(card)">
				<div class="card-container">
					<div class="card" ng-class="{'flipped': !card.deckVisible}">
						<img class="front" ng-src="{{card.imgDeck}}"> 
						<img class="back" ng-src="{{card.img}}">
					</div>
				</div>
			</td>
		</tr>
	</table>

	<div class="modal" ng-show="score.isGameSolved">
		<div class="modal-body">
			<span class="big-40">Solved</span>
		</div>
	</div>
</div>