<div>
	<p class="score-container">
		<span class="big-40">Points: {{score.points}}</span>
		<span class="big-40 left-100">Attempts: {{score.attempts}}</span>
	</p>

	<div class="card-container" ng-class="{'card-container-flipped': !card.deckVisible}" ng-click="flipCard(card)" ng-repeat="card in cards">
		<div class="card">
			<div class="front face">
				<img src="{{card.imgDeck}}"/>
			</div>
			<div class="back face">
				<img src="{{card.img}}" />
			</div>
		</div>
	</div>
	
	<div class="modal" ng-show="score.isGameSolved">
		<div class="modal-body">
			<span class="big-40">Solved</span>	
		</div>
	</div>
</div>